

.ro-post{
   .ro-post-header{
      position: relative;
      .content{
         .user{
            margin-bottom: 10px;
         }
      }
      .label{
         img{
            margin-top: 8px;
         }
      }
   }
}