.ro-flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.ro-flex-inline {
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex; }

/*
* Fixes initial flex-shrink value in IE10
*/
.ro-flex > *,
.ro-flex-inline > * {
  -ms-flex-negative: 1; }

/* Alignment
========================================================================== */
/*
* Vertical alignment
* Default value is `stretch`
*/
.ro-flex-top {
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start; }

.ro-flex-middle {
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.ro-flex-bottom {
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end; }

/*
* Horizontal alignment
* Default value is `flex-start`
*/
.ro-flex-center {
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center; }

.ro-flex-right {
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end; }

.ro-flex-space-between {
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between; }

.ro-flex-space-around {
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around; }

/* Direction
========================================================================== */
.ro-flex-row-reverse {
  -ms-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.ro-flex-column {
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column; }

.ro-flex-column-reverse {
  -ms-flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse; }

/* Wrap
========================================================================== */
.ro-flex-nowrap {
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap; }

.ro-flex-wrap {
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

.ro-flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
  -webkit-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse; }

/*
* Horizontal alignment
* Default value is `stretch`
*/
.ro-flex-wrap-top {
  -ms-flex-line-pack: start;
  -webkit-align-content: flex-start;
  align-content: flex-start; }

.ro-flex-wrap-middle {
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
  align-content: center; }

.ro-flex-wrap-bottom {
  -ms-flex-line-pack: end;
  -webkit-align-content: flex-end;
  align-content: flex-end; }

.ro-flex-wrap-space-between {
  -ms-flex-line-pack: justify;
  -webkit-align-content: space-between;
  align-content: space-between; }

.ro-flex-wrap-space-around {
  -ms-flex-line-pack: distribute;
  -webkit-align-content: space-around;
  align-content: space-around; }

/* Item ordering
========================================================================== */
/*
* Default is 0
*/
.ro-flex-order-first {
  -ms-flex-order: -1;
  -webkit-order: -1;
  order: -1; }

.ro-flex-order-last {
  -ms-flex-order: 99;
  -webkit-order: 99;
  order: 99; }

.ro-flex-item-none {
  -ms-flex: none;
  -webkit-flex: none;
  flex: none; }

/*
* Relative Flex: 1 1 auto
* Space is allocated considering content
* 1. Fixes flex-shrink value in IE10
*/
.ro-flex-item-auto {
  -ms-flex: auto;
  -webkit-flex: auto;
  flex: auto;
  /* 1 */
  -ms-flex-negative: 1; }

/*
* Absolute Flex: 1 1 0%
* Space is allocated solely based on flex
*/
.ro-flex-item-1 {
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1; }

.ro-animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.ro-animated.ro-infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.ro-fade-in {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

.ro-text-white {
  color: #fff !important; }

.ro-text-center {
  text-align: center !important; }

.ro-text-right {
  text-align: right !important; }

.ro-text-danger {
  color: #f1675b !important; }

.ro-height-1-1 {
  height: 100%; }

img {
  width: 100%; }

.ro-display-inlineblock {
  display: inline-block !important; }

.ro-m-0 {
  margin: 0rem !important; }

.ro-p-0 {
  padding: 0rem !important; }

.ro-mb-0 {
  margin-bottom: 0rem !important; }

.ro-mt-0 {
  margin-top: 0rem !important; }

.ro-mr-0 {
  margin-right: 0rem !important; }

.ro-ml-0 {
  margin-left: 0rem !important; }

.ro-pb-0 {
  padding-bottom: 0rem !important; }

.ro-pt-0 {
  padding-top: 0rem !important; }

.ro-pr-0 {
  padding-right: 0rem !important; }

.ro-pl-0 {
  padding-left: 0rem !important; }

.ro-m-1 {
  margin: 1rem !important; }

.ro-p-1 {
  padding: 1rem !important; }

.ro-mb-1 {
  margin-bottom: 1rem !important; }

.ro-mt-1 {
  margin-top: 1rem !important; }

.ro-mr-1 {
  margin-right: 1rem !important; }

.ro-ml-1 {
  margin-left: 1rem !important; }

.ro-pb-1 {
  padding-bottom: 1rem !important; }

.ro-pt-1 {
  padding-top: 1rem !important; }

.ro-pr-1 {
  padding-right: 1rem !important; }

.ro-pl-1 {
  padding-left: 1rem !important; }

.ro-m-2 {
  margin: 2rem !important; }

.ro-p-2 {
  padding: 2rem !important; }

.ro-mb-2 {
  margin-bottom: 2rem !important; }

.ro-mt-2 {
  margin-top: 2rem !important; }

.ro-mr-2 {
  margin-right: 2rem !important; }

.ro-ml-2 {
  margin-left: 2rem !important; }

.ro-pb-2 {
  padding-bottom: 2rem !important; }

.ro-pt-2 {
  padding-top: 2rem !important; }

.ro-pr-2 {
  padding-right: 2rem !important; }

.ro-pl-2 {
  padding-left: 2rem !important; }

.ro-m-3 {
  margin: 3rem !important; }

.ro-p-3 {
  padding: 3rem !important; }

.ro-mb-3 {
  margin-bottom: 3rem !important; }

.ro-mt-3 {
  margin-top: 3rem !important; }

.ro-mr-3 {
  margin-right: 3rem !important; }

.ro-ml-3 {
  margin-left: 3rem !important; }

.ro-pb-3 {
  padding-bottom: 3rem !important; }

.ro-pt-3 {
  padding-top: 3rem !important; }

.ro-pr-3 {
  padding-right: 3rem !important; }

.ro-pl-3 {
  padding-left: 3rem !important; }

.ro-m-4 {
  margin: 4rem !important; }

.ro-p-4 {
  padding: 4rem !important; }

.ro-mb-4 {
  margin-bottom: 4rem !important; }

.ro-mt-4 {
  margin-top: 4rem !important; }

.ro-mr-4 {
  margin-right: 4rem !important; }

.ro-ml-4 {
  margin-left: 4rem !important; }

.ro-pb-4 {
  padding-bottom: 4rem !important; }

.ro-pt-4 {
  padding-top: 4rem !important; }

.ro-pr-4 {
  padding-right: 4rem !important; }

.ro-pl-4 {
  padding-left: 4rem !important; }

.ui.page.modals.dimmer.transition.visible {
  display: flex !important; }

a {
  outline: none; }

@media (max-width: 767px) {
  .ro-hide-tablet {
    display: none !important; } }
