.ro-post-list-container{
   .ui.menu{
      display: flex;
      .item{
         width: 50%;
         &.active{
            background: #2185D0;
            color: #fff;
         }
      }
   }
   .ui.bottom.attached.segment{
      padding: 0;
      background: transparent;
      border: 0;
   }
   .ui.bottom.attached.segment.loading{
      background: #fff;
   }
}  