.ro-content .sticky {
  top: 80px !important;
  transition: all .2s linear !important; }

@media (max-width: 767px) {
  #root .ro-content {
    padding-left: 8px !important;
    padding-right: 8px !important; }
    #root .ro-content .column {
      padding-left: 0px !important;
      padding-right: 0px !important; } }
